@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.jobs {
  display: flex;
  margin: 32px;

  &__left {
    display: flex;
    width: 600px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;

    &-item {
      border-bottom: 1px solid grey;
      width: 100%;
      padding: 16px;
    }

    &-rate {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
  }

  &__right {
    width: 600px;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 16px 16px 0;
  }

  &__details {
    &-left {
      width: 50%;

      & p {
        margin-bottom: 0px;
      }
    }
  }
}
