@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.jobs {
  display: flex;
  margin: 32px;

  &__left {
    display: flex;
    width: 600px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;

    &-item {
      border-bottom: 1px solid grey;
      width: 100%;
      padding: 8px;

      &:hover {
        background-color: rgb(233, 233, 233);
      }
    }

    &-profile {
      display: flex;
    }

    &-image {
      margin: 8px 16px 8px 0;

      & img {
        width: 40px;
        height: 50px;
        border-radius: 50%;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-name {
      font-weight: 500;
      margin-bottom: 0;
      font-size: 20px;
      color: black;
    }

    &-location {
      font-weight: 300;
      font-size: 14px;
    }

    &-rate {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-hourly {
      color: green;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
  }

  &__right {
    width: 550px;
    display: flex;
    align-items: center;

    &-image {
      width: inherit;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
  }

  &__details {
    &-left {
      width: 50%;
      margin-left: 55px;

      & p {
        margin-bottom: 0px;
        font-size: 12px;
        color: black;
      }
    }

    &-right {
      & img {
        width: auto;
        height: 90px;
      }
    }

    &-rating {
      font-weight: 600;
    }
  }
}
