@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  box-shadow: 0 3px 16px -3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;

  &__logo-wrapper {
    & img {
      height: 180px;
      width: auto;
    }
  }

  &__button {
    &-home {
      transition: all 0.1s;
      margin-left: 16px;
      padding: 0 8px;
      border-radius: 5px;
    }

    &-professional {
      transition: all 0.1s;
      margin-left: 16px;
      padding: 0 8px;
      border-radius: 5px;
    }

    &-office {
      transition: all 0.1s;
      margin-left: 16px;
      padding: 0 8px;
      border-radius: 5px;
    }
  }
}

.active-button {
  color: white;
  background-color: $primary-color-lilac;
  font-weight: bold;
  text-decoration: none;
}
