@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.office {
  margin: 120px 32px 0;
  position: static;

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__jobs {
    margin: 0 32px;

    &-title {
      font-weight: 500;
      color: black;
      margin-bottom: 16px;
    }

    &-item {
      border-top: 1px solid rgb(192, 192, 192);
      margin: 0 32px;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 49px;
      margin-bottom: 8px;
    }
  }

  &__top {
    &-right {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    &-left {
      display: flex;
    }

    &-img {
      width: auto;
      height: 50px;
      border-radius: 50%;
    }

    &-details {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-evenly;
      margin-left: 16px;
    }
  }

  &__buttons {
    margin-left: 16px;
  }

  &__bottom-img {
    width: 180px;
    height: auto;
  }

  &__bottom-left {
    width: 70%;
    letter-spacing: 1px;
  }

  &__icon {
    width: 25px;
    height: auto;
    margin: 10px 10px 0;
  }

  &__button {
    transition: all 500ms;
    border: none;

    &:hover {
      background-color: $primary-color-lilac;
      color: white;
    }
  }
}
